body{
    background: #fbfbfb
} 

a {
    text-decoration: none;
    color: var(--bs-heading-color,inherit);
}

/* RECIPE POST */

#recipe-post-description {
    position: absolute;
    bottom: 5px;
}

.container-details {
    display: flex;
}

.accordion {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.accordion-item {
    right: 5px;
    width: 66%;
}

/* RECIPE CARDS */

.card {
    margin-bottom: 1.5rem;
} 

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* .recipe-image {
    width: 100%;
    object-fit: cover;
} */